@font-face {
  font-family: 'Nephilm';
  src: url('../fonts/Nephilm.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VoltaModernDisplay';
  src: url('../fonts/VoltaModernDisplay.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LaborUnion-Small';
  src: url('../fonts/LaborUnion-Small.otf');
  font-weight: normal;
  font-style: normal;
}
