@font-face {
  font-family: 'Nephilm';
  src: url("../fonts/Nephilm.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VoltaModernDisplay';
  src: url("../fonts/VoltaModernDisplay.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LaborUnion-Small';
  src: url("../fonts/LaborUnion-Small.otf");
  font-weight: normal;
  font-style: normal; }

#fp-nav ul span {
  background: #fff !important; }

body.fp-viewing-services #fp-nav ul span {
  background: #333 !important; }

body.fp-viewing-services #fp-nav ul .fp-tooltip {
  color: #333; }

header {
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  height: 100vh;
  position: relative; }
  header #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    padding: 60px 0; }
    header #intro #logo-header {
      width: 50%;
      padding-bottom: 60px; }
    header #intro h1 {
      font-family: 'LaborUnion-Small';
      font-size: 30px;
      margin-bottom: 50px; }
    header #intro .intro-logo {
      color: #fff;
      font-size: 30px;
      margin: 0 10px; }
      header #intro .intro-logo:hover {
        color: #fff; }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); } }
  header .read-more {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center; }
    header .read-more p {
      font-size: 24px;
      margin-bottom: 30px; }
    header .read-more a {
      color: #fff; }
      header .read-more a .bounce {
        animation: bounce 2s infinite;
        transition: 0.5s ease-out; }

#srvcs .section-title {
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.5s ease-out;
  transition-delay: 0.5s; }
  #srvcs .section-title h2 {
    font-family: 'Nelphim';
    font-size: 66px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    color: #464646; }
  #srvcs .section-title .lead {
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
    color: #4c4c4c; }

#srvcs .service-card {
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.5s ease-out; }
  #srvcs .service-card.shoe {
    transition-delay: 0.8s; }
  #srvcs .service-card.sneakers {
    transition-delay: 0.6s; }
  #srvcs .service-card.keys {
    transition-delay: 0.4s; }
  #srvcs .service-card.services {
    transition-delay: 0.2s; }

#srvcs .card {
  align-items: center;
  border: 0;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s ease-out;
  height: 440px;
  transform-origin: 50% 0;
  transform: perspective(999px) rotateX(0deg) translateZ(0);
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.1);
  margin: 0 8px; }
  #srvcs .card:hover {
    transform: perspective(999px) rotateX(7deg) translate3d(0, -4px, 5px); }
  #srvcs .card::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem; }
  #srvcs .card .full-background {
    background-position: 50%;
    background-size: cover;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    position: absolute; }
  #srvcs .card .card-body {
    padding: 24px;
    padding-top: 240px;
    z-index: 2;
    color: #fff;
    flex: 1 1 auto; }
    #srvcs .card .card-body .card-title {
      font-size: 24px;
      font-family: 'LaborUnion-Small'; }
    #srvcs .card .card-body .card-text {
      font-size: 18px;
      font-weight: 400; }

body.fp-viewing-services .section-title {
  transform: translateY(0) !important;
  opacity: 1 !important; }

body.fp-viewing-services .service-card {
  transform: translateX(0) !important;
  opacity: 1 !important; }

body {
  font-family: 'VoltaModernDisplay'; }
