@font-face {
  font-family: 'Nephilm';
  src: url("../fonts/Nephilm.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VoltaModernDisplay';
  src: url("../fonts/VoltaModernDisplay.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LaborUnion-Small';
  src: url("../fonts/LaborUnion-Small.otf");
  font-weight: normal;
  font-style: normal; }

#menu {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  right: 18px; }
  #menu ul {
    margin: 0;
    padding: 0; }
    #menu ul li {
      display: block;
      width: 14px;
      height: 13px;
      margin: 7px;
      position: relative; }
      #menu ul li:hover a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
      #menu ul li:hover a span {
        width: 10px;
        height: 10px;
        margin: -5px 0px 0px -5px; }
      #menu ul li:hover .menu-tooltip {
        transition: opacity 0.2s ease-in;
        width: auto;
        opacity: 1; }
      #menu ul li a {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-decoration: none; }
        #menu ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
        #menu ul li a span {
          border-radius: 50%;
          position: absolute;
          z-index: 1;
          height: 6px;
          width: 6px;
          border: 0;
          background: #fff;
          left: 50%;
          top: 50%;
          margin: -2px 0 0 -2px;
          transition: all 0.1s ease-in-out; }
      #menu ul li .menu-tooltip {
        position: absolute;
        top: -5px;
        color: #fff;
        white-space: nowrap;
        max-width: 220px;
        overflow: hidden;
        display: block;
        opacity: 0;
        width: 0;
        cursor: pointer;
        right: 20px; }

header {
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  height: 100vh;
  position: relative; }
  header #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    padding: 60px 0; }
    header #intro #logo-header {
      width: 50%;
      padding-bottom: 60px; }
    header #intro h1 {
      font-family: 'LaborUnion-Small';
      font-size: 30px;
      margin-bottom: 50px; }
    header #intro .intro-logo {
      color: #fff;
      font-size: 30px;
      margin: 0 10px; }
      header #intro .intro-logo:hover {
        color: #fff; }

body {
  font-family: 'VoltaModernDisplay'; }
