@font-face {
  font-family: 'Nephilm';
  src: url("../fonts/Nephilm.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'VoltaModernDisplay';
  src: url("../fonts/VoltaModernDisplay.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LaborUnion-Small';
  src: url("../fonts/LaborUnion-Small.otf");
  font-weight: normal;
  font-style: normal; }

#fp-nav ul span {
  background: #fff !important; }

body.fp-viewing-services #fp-nav ul span {
  background: #333 !important; }

body.fp-viewing-services #fp-nav ul .fp-tooltip {
  color: #333; }

header {
  background-image: url("../img/main-background.jpg");
  background-size: cover;
  height: 100vh;
  position: relative; }
  header #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
    padding: 60px 0; }
    header #intro #logo-header {
      width: 50%;
      padding-bottom: 60px; }
    header #intro h1 {
      font-family: 'LaborUnion-Small';
      font-size: 30px;
      margin-bottom: 50px; }
    header #intro .intro-logo {
      color: #fff;
      font-size: 30px;
      margin: 0 10px; }
      header #intro .intro-logo:hover {
        color: #fff; }

#srvcs h2 {
  font-family: 'Nelphim';
  font-size: 50px;
  letter-spacing: 1px;
  text-align: center;
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  color: #cb0c9f !important; }

#srvcs .lead {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  color: #344767; }

#srvcs .card {
  align-items: center;
  border: 0;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s ease-out;
  height: 441px;
  transform-origin: 50% 0;
  transform: perspective(999px) rotateX(0deg) translateZ(0);
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.1); }
  #srvcs .card:hover {
    transform: perspective(999px) rotateX(7deg) translate3d(0, -4px, 5px); }
  #srvcs .card::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem; }
  #srvcs .card .full-background {
    background-position: 50%;
    background-size: cover;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    position: absolute; }
  #srvcs .card .card-body {
    padding: 24px;
    padding-top: 256px;
    z-index: 2;
    color: #fff;
    flex: 1 1 auto; }
    #srvcs .card .card-body .card-title {
      font-size: 24px;
      font-weight: 600; }
    #srvcs .card .card-body .card-text {
      font-size: 16px;
      font-weight: 400; }

body {
  font-family: 'VoltaModernDisplay'; }
